{% extends 'base.html' %}

{% load static %}

{% block content %}

      <!-- Content
      ============================================= -->
         <!-- JS시작         
      ============================================= -->
      <script src="{% static '/js/trim.js' %}"></script>
      <script language="javascript"> 

         function check(){
            var name_val = f.name.value; 
            name_val = trim(name_val);
            if(name_val.length == 0){
               alert("Please enter your name :)");
               f.name.value = "";
               f.name.focus();
               return false;
         }
         var pn_val = f.phonenumber.value;
         pn_val = trim(pn_val);
         if (pn_val.length == 0){
                  alert("Please enter your phoneNumber :) ");
                  f.phonenumber.value = "";
                  f.phonenumber.focus();  
                  return false;   
            }
         f.submit();  
         }
         function enterCheck(elm){
               if(event.keyCode == 13){
                  if(elm == f.name){
                     f.phonenumber.focus();
               }else{
                     check(); 
               }
            }
         } 
      </script>

      <section id="content">
         <div class="content-wrap py-0">
            <div class="section p-0 m-0 h-100 position-absolute" style="background: url('{% static '/demos/music/images/login/plant.jpg' %}') center center no-repeat; background-size: cover;"></div>
      
               <div class="section bg-transparent min-vh-100 p-0 m-0">
                  <div class="vertical-middle">
                     <div class="container-fluid py-5 mx-auto">
                        <div class="center">
                           <a href="index.html"><img src="{%static '/demos/music/images/nim_main.png' %}" alt="Nimbus Logo"></a> 
                     </div>

                     <div class="card mx-auto rounded-0 border-0" style="max-width: 400px; background-color: rgba(255,255,255,0.6);">
                        <div class="card-body" style="padding: 40px;">							
                           <form id="forgot_email_form" name="f" class="mb-0" action="forgot_email_ok" method="post">
							         {% csrf_token %}
                              <h3>Email assistance</h3>

                              <div class="row">

                                 <div class="col-12 form-group">
                                    <label for="name">Enter your name</label>
                                    <input type="text" id="name" name="name" value="" class="form-control not-dark" onkeydown="enterCheck(this)" />
                                 </div>

                                 <div class="col-12 form-group">
                                    <label for="phonenumber">Enter your phoneNumber</label> 
                                    <input type="password" id="phonenumber" name="phonenumber" value="" class="form-control not-dark" onkeydown="enterCheck(this)" />
                                 </div>                             
                                 
                                 <div class="col-12 form-group">                                    
                                    <input type="button" class="button button-3d button-black m-0" id="login-form-submit" name="login-form-submit" value="continue" style="cursor:pointer" onclick ="check()"/></input>								
                                       <a href="../forgot_pwd" class="float-end">Forgot Password?</a>
                                       <a href="../" class="float-end">Login now!</a>                                     
                                 </div> 
                              </div>
                           </form>
                           <div><h4 style="margin-bottom: 15px;">{{error}} {{email}}</h4></div>
                           <div class="line line-sm"></div>
                           <!--
                           <div class="w-100 text-center">
                              <h4 style="margin-bottom: 15px;">or Login with:</h4>
                              <a href="#" class="button button-rounded si-facebook si-colored">Facebook</a>
                              <span class="d-none d-md-inline-block">or</span>
                              <a href="#" class="button button-rounded si-twitter si-colored">Twitter</a>
                           </div>
                           -->
                        </div>
                     </div>

                     <div class="text-center dark mt-3"><small>Copyrights &copy; All Rights Reserved by Nimbus Inc.</small></div>
                  </div>
               </div>
            </div>

         </div>
      </section><!-- #content end -->

{% endblock %}