{% extends 'base.html' %}

{% load static %}
        
{% block content %}	

<style>
    .modal_overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
    }

    .modal_window {
        background: white;
        backdrop-filter: blur(13.5px);
        -webkit-backdrop-filter: blur(13.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 400px;
        height: 200px;
        position: relative;
        padding: 10px;
    }
    .confirm{
        width: 80px;
        height: 40px;
        position: absolute;
        top: 75%;
        left: 110px;
        font-family: 메이플스토리;
    }
    .cancel{
        width: 80px;
        height: 40px;
        position: absolute;
        top: 75%;
        left: 210px;
        font-family: 메이플스토리;
    }
    #text{
        font-family: 메이플스토리;
        font-size: 15px;
        resize: none;
    }
</style>

<script src="{% static '/js/trim.js' %}"></script>
<script language="javascript">
    function check() {
        var pnameval = f.pname.value;
        pnameval = trim(pnameval);
        if (pnameval.length == 0) {
            alert("Please enter playlist name");
            f.pname.value = "";
            f.pname.focus();
            return false;
        } else {
            pass = checkByteLen(pnameval, 30);
            if (!pass) {
                alert("Playlist name is too long");
                f.pname.focus();
                return false;
            }
        }
        
        f.submit();
    }

    function checkByteLen(str, size) {
        var byteLen = getByteLen(str);
        if (byteLen <= size) {
            return true;
        } else {
            return false;
        }
    }
    function getByteLen(str) {
        return str.replace(/[\0-\x7f]|([0-\u07ff]|(.))/g, "$&$1$2").length;
    }

    function enterCheck(elm) {
        if (event.keyCode == 13) {
            if (elm == f.email) {
                f.pwd.focus();
            } else {
                check();
            }
        }
    }
</script>

<div class="modal_overlay">
    <div class="modal_window">
        <div>
            <center>
                <form name="f" action="newPlaylist_ok/{{id}}" method="post">
                {% csrf_token %}
                    <h2>Edit Introduction</h2>
                    <div style="width: 300px">
                        <a>title:</a>&nbsp;<input type="text" name="pname"></input>
                    </div>
                    <input type="button" class="confirm" value="confirm" onclick="check()"; />
                    <input type="reset" class="cancel" value="cancel" onclick=history.back(); />
                </form>
            </center>
        </div>
    </div>
</div>

{% endblock %}